* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #ddd;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6em;
    background: hsl(0, 0%, 7%);
    color: #fff;

}

main {
    padding: 30px;
}

.sidebar {
    width: 350px;
    background: hsl(240, 2%, 12%);
    border-radius: 15px;
    padding: 40px;
    position: fixed;
    
    /* left: ; */
}

.sidebar-img {
    margin: 0 auto;
    width: 90%;
    background: var(--bg-gradient-onyx);
    border-radius: 15px;
    position: relative;
    min-height: 200px;
    overflow: hidden;
}

img {
    width: 100%;
}

.sidebar-img img {
    transform: translateY(15px);
}

hr {
    border: 1px solid var(--onyx);
    margin: 30px 0;
}

.text-center {
    text-align: center;
}

.port_name {
    margin: 20px 0 ;
}

.port_desc {
    background: var(--onyx);
    padding: 5px;
    border-radius: 15px;
    width: 80%;
    margin: 0 auto;
}

li {
    list-style: none;
}

.contact-detail a {
    display: block;
}

.contact-detail {
    /* display: flex; */
}